body { font-family: Arial; background: #f5f5f5; }
.container { width: 90%; max-width: 600px; margin: auto; background: white; padding: 20px; border-radius: 10px; margin-top: 30px;}
select, button { width: 100%; padding: 12px; margin-top: 10px;}
.subject { display: flex; justify-content: space-between; margin-top: 10px;}
